body{
    background-color: #e1c4ab;
}
.MainImage{
    position: relative;

}

.heading{
    text-align: center ;
}

h1{
    color: #20467a;

    background-color:#e8d263 ;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }